export ADDR=:8080

export DB_ADDR=postgres://admin:adminpassword@localhost/socialnetwork?sslmode=disable

export ENV=DEVELOPMENT

export MAILTRAP_API_KEY=5204c5342b2eb5

export MAILTRAP_USERNAME=097b7b94bbf81d

export MAILTRAP_HOST=sandbox.smtp.mailtrap.io

export MAILTRAP_PORT=2525

export FROM_EMAIL=guddumajumder75@gmail.com